{% extends 'base.html.twig' %}

{% block body %}
    {% if is_granted('ROLE_USER') %}
        <li><a href="{{ path('fos_user_security_logout') }}">Log out </a></li>
    {% else %}
        <li><a href="{{ path('fos_user_security_login') }}">Login</a></li>
    {% endif %}

{% endblock %}

